// Variables

$first: white;
$second: rgb(74, 144, 266);
$third: rgb(79, 96, 115);
$fourth: rgb(157, 168, 201);
$background-color: #F2F2F2;

//global
$border-radius-default: 8px;

//padding sections
$padding-default: 80px 0;